.stockDisplay{
  width: 54vw;
  height: 80vh;
  margin: 2vh;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  overflow: hidden;

  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    > span {
      font-size: 20px;
      font-family: 'Alimama';
    }

    div{
      display: flex;

      button{
        width: 50px;
        background-color: rgba(255,255,255,0.5);
        margin-right: 5px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 3px 3px #00000029;
      }
      button:active{
        opacity: 0.4;
        box-shadow: none;
      }

    }
  }

  .top{
    display: flex;
    justify-content: space-between;
    align-items: end;

    .RT-data{
      display: flex;
      align-items: end;

      span{
        display: inline-block;
        margin: 0 5px 5px;
        font-size: 25px;
        font-weight: bold;
      }
      .RT-price{
        font-size: 30px;
        margin-left: 10px;
      }
    }

    .recom{
      margin-bottom: 5px;
      margin-right: 5px;
      font-size: 24px;
      font-weight: bold;
      border-color: white;
      background: linear-gradient(269deg, #CB8FE8 0%, #8FB6E8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  table{
    display: flex;
    flex-direction: column;
    z-index: 10;

    tr{
      display: flex;
      justify-content: space-between;
      width: auto;

      td{
        width: 125px;
        padding: 2.5px 12px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        white-space: nowrap;

      }


    }

  }
}

.red{
  color: red;
}

.green{
  color: green;
}