.home{
  position: relative;

  .content{
    display: flex;
    flex-direction: column;

    .top{
      display: flex;

      .recommend-container{

      }

      .hot-container{

      }
    }

    .news-container{

    }


  }

}