.home{
  position: relative;

  .content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90vh;

    .top{
      display: flex;
    }

  }

  ::-webkit-scrollbar {
    display: none;
  }

}